[Unit]
Description=IZOTOFF ASP.NET App
After=network.target

[Service]
WorkingDirectory=/var/www/izotoff
ExecStart=/usr/bin/dotnet /var/www/izotoff/Izotoff.dll
Restart=always
RestartSec=5
User=root
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=ASPNETCORE_URLS=http://0.0.0.0:5010
EnvironmentFile=-/etc/izotoff.env

[Install]
WantedBy=multi-user.target
